@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "AtomicMarker";
	src: url("../fonts/AtomicMarker.otf") format("opentype");
}
@font-face {
	font-family: "Graphit-Regular";
	src: url("../fonts/Graphit-Regular.otf") format("opentype");
}


